<ion-view title="History" id="page2" class=" ">
    <ion-content padding="false" class="has-header">


	<ion-list id="wave-list2" class=" ">
            <ion-item class="item-avatar " id="wave-list-item13" ui-sref="menu.wave2">
                <img src="img/xwWJwsfBS3Wj4sQgJTXf_people.jpg">
                <span class="item-note">6-6</span>
                <h2>Help HG move some boxes</h2> 
                <p>I earn $ 10</p>
            </ion-item>

            <ion-item class="item-avatar  " id="wave-list-item21" ui-sref="menu.wave2">
                <img src="img/UZ95hgwrRzW6BkgvvzBm_girl.jpg" >
                <span class="item-note">6-5</span>
                <h2>HG help me bring stuff</h2>
                <p>I pay $ 10</p>
            </ion-item>
            <ion-item class="item-avatar  " id="wave-list-item22" ui-sref="menu.wave2">
                <img src="img/UZ95hgwrRzW6BkgvvzBm_girl.jpg">
                <span class="item-note">6-5</span>
                <h2>HG help me have a drink</h2>
                <p>I pay $ 5</p>
            </ion-item>
            <ion-item class="item-avatar  " id="wave-list-item23" ui-sref="menu.wave2">
                <img src="img/xwWJwsfBS3Wj4sQgJTXf_people.jpg">
                <span class="item-note">6-4</span>
                <h2>Help HG do homework</h2>
                <p>I earn $ 100</p>
            </ion-item>
            <ion-item class="item-avatar  " id="wave-list-item24" ui-sref="menu.wave2">
                <img src="img/UZ95hgwrRzW6BkgvvzBm_girl.jpg">
                <span class="item-note">6-2</span>
                <h2>Help HG do math</h2>
                <p>I earn $ 20</p>
            </ion-item>
           
        </ion-list>


</ion-content>


</ion-view>