<ion-view title="Instant">
<ion-content padding="false" class="has-header">

<div class="list" id="instant_list" ng-click="select(this)">
	<div class="item item-divider" >
		Most requried amoung you
	</div>
	<a class="item" href="#" >
		Help with home work
	</a>
	<a class="item" href="#">
		Tutor for math
	</a>
	<a class="item" href="#">
		Have a chat
	</a>
	<a class="item" href="#">
		Clean my room
	</a>
	
	<div class="item item-divider">
		House work
	</div>
	<a class="item" href="#">
		Clean my room/house
	</a>
	<a class="item" href="#">
		Assemble something
	</a>
	<a class="item" href="#">
		Fix something
	</a>
	<a class="item" href="#">
		Move heavy things
	</a>

	<div class="item item-divider">
		Need a car?
	</div>
	<a class="item" href="#">
		Bring me something
	</a>
	<a class="item" href="#">
		Pick up something
	</a>
	<a class="item" href="#">
		Deliver something
	</a>
</div>
</ion-content>
</ion-view>