<ion-view view-title="Login">
  <ion-header-bar>
    <button ng-click="goback()" class="icon ion-ios-arrow-back button button-clear button-balanced"></button>
    <h1 class="title">Sign in</h1>
  </ion-header-bar>

  <ion-content class="padding has-header">

    <div class="list card padding">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email" required autofocus>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.pwdForLogin" required>
      </label>
      <button ng-click="signIn(user)" class="button button-block button-balanced activated">
        Sign In
      </button>
    </div>
    <div class="list" style="text-align:center">
      <button ng-click="toForgetPwd()" class="button button-small button-clear button-balanced">Forgot password?</button>
    </div>
  </ion-content>
</ion-view>
