<ion-view view-title="Welcome">
<ion-content padding="false" class="has-header">
<div style="margin-top: 300px auto; text-align: center;">
	<ion-spinner icon="ripple" class="spinner-calm"></ion-spinner>
</div>

<div style="width: 300px; margin: 0 auto; text-align: center;">
	<div style="margin: 20px;font-family: 'Times New Roman', Times, serif;  font-size: 30px;">Help is on the way</div>
	<div  style="margin: 20px;font-family: serif; font-size: 20px; font-style: italic;">It may take 2-3 minutes for people to answer your request...</div>
</div>

</ion-content>
</ion-view>