<ion-view title="Wave" >
    <ion-content padding="false" class="has-header">
    <!-- href="#/menu/wave_detail" -->
    <!-- ui-sref="menu.wave_detail" -->
        <ion-list ui-sref="menu.wave_detail">
            <ion-item class="item-avatar" ng-repeat="user_data in users_data"
            ng-click="select($index)">
                <img src="img/user1.jpg">
                <span class="item-note">now</span>
                <h2>{{ user_data.need }}</h2> 
                <p>I pay $ {{ user_data.pay }}</p>
            </ion-item>

           <!--  <ion-item class="item-avatar" >
                <img src="img/user1.jpg" >
                <span class="item-note">2 min</span>
                <h2>I need watch movie</h2>
                <p>I pay $ 10</p>
            </ion-item>
            <ion-item class="item-avatar  "  >
                <img src="img/user2.jpg">
                <span class="item-note">3 min</span>
                <h2>I need have a drink</h2> -->
              <!--   <p>I pay $ 5</p>
            </ion-item>
            <ion-item class="item-avatar  "  >
                <img src="img/user1.jpg">
                <span class="item-note">3 min</span>
                <h2>I need have sex</h2>
                <p>I pay $ 200</p>
            </ion-item>
            <ion-item class="item-avatar  " >
                <img src="img/user2.jpg">
                <span class="item-note">5 min</span>
                <h2>I need do homework</h2>
                <p>I pay $ 20</p>
            </ion-item>
            <ion-item class="item-avatar  " >
                <img src="img/user1.jpg">
                <span class="item-note">6 min</span>
                <h2>I need toilet paper</h2>
                <p>I pay $ 100</p>
            </ion-item>
            <ion-item class="item-avatar  " >
                <img src="img/user2.jpg">
                <span class="item-note">7 min</span>
                <h2>I need move some boxes</h2>
                <p>I pay $ 100</p>
            </ion-item>
            <ion-item class="item-avatar  " >
                <img src="img/user1.jpg">
                <span class="item-note">8 min</span>
                <h2>I need toilet paper</h2>
                <p>I pay $ 100</p>
            </ion-item>
            <ion-item class="item-avatar  " >
                <img src="img/user1.jpg">
                <span class="item-note">8 min</span>
                <h2>I need toilet paper</h2>
                <p>I pay $ 100</p>
            </ion-item>
            <ion-item class="item-avatar  ">
                <img src="img/user2.jpg">
                <span class="item-note">8 min</span>
                <h2>I need toilet paper</h2>
                <p>I pay $ 100</p>
            </ion-item> -->
        </ion-list>
        <!-- <button ng-click="test()" class=" button button-calm  button-block ">Test</button> -->
    </ion-content>
</ion-view>