<ion-view view-title="Welcome">
	
<div style="margin:120px auto; text-align: center;">
	<img src="img/bird_logo.jpeg">
</div>

    <div class="tabs-striped tabs-background-calm tabs-color-light">
      <div class="tabs">
      <a ng-click="toSignin()" class="tab-item ">
        Sign in
      </a>
      <a ng-click="modal.show()" class="tab-item ">
        Register
      </a>
    </div>
    </div>




<!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div> -->



</ion-view>
